fullwidth() {
  width: calc(100vw - var(--scrollbar-width, 0px));
  margin-left: calc((100vw - var(--scrollbar-width, 0px) - 100%) / -2);
  margin-right: calc((100vw - var(--scrollbar-width, 0px) - 100%) / -2);
}
