truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

caption(big = false) {
  letter-spacing: 0.08em;
  text-transform: uppercase;

  if big {
    font: $font-size-x-base / 1.56 $font-base;
  }
  else {
    font: $font-size-small / 1.5 $font-base;
  }
}
