@import "./vars/variables.styl";
if ($use-fonts) {
  @import "./mixins/fonts.styl";
}

@import "./imports.styl";

/* Base styles
-------------------------- */
@import "./base/layout.styl";
if ($use-grid) {
  @import "./gridlex/gridlex.styl";
}

@import "./base/hiddens.styl";
@import "./base/typography.styl";
@import "./base/spacing.styl";
@import "./base/animations.styl";