$color-light = {
  white: #fff,
  lighter: #FAFBFC,
  light: #E6EFFC,
  light-blue: #a6adce,
  medium: #909090,
  dark: #808080,
}

$color-dark = {
  lighter: #292929,
  light: #212121,
  medium: #181818,
  dark: #131415,
  black: #000,
}

$color-blue = {
  light: #eaf3ff,
  base: #0f68e4,
  medium: #003b8e,
  dark: #002a66,
}


$color-green = {
  light: #DFFCF0,
  base: #4cbf86,
  dark: #216E4E,
}

$color-red = {
  base: #CA3521,
  medium: #f05252,
  light: #F87462,
}

$color-yellow = {
  base: #E6A23C,
}
