// extended - include eot, woff, etc (see ./mixins/fonts)
$use-fonts-extended = false;
$fonts-path = "../fonts/";

// $fonts-arr = {
//   '0': {
//     name: 'Noah',
//     file: Noah-Regular,
//     weight: normal,
//     style: normal
//   },
// };

$fonts-arr = {
  "Stratos400": {
    name: "Stratos",
    file: stratos-regular,
    weight: 400,
    style: normal,
  },
  "Stratos350": {
    name: "Stratos",
    file: stratos-semilight,
    weight: 350,
    style: normal,
  },
  "z": {
    name: "Zoloto",
    file: zoloto_45,
    weight: 400,
    style: normal,
  },
}
